@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  scrollbar-width: auto;
  scrollbar-color: var(--color-red-3) transparent;
}

body {
  background: var(--color-dark-1);
}

@theme {
  --color-light-1: #ffffff;
  --color-light-2: #f6f6f6;
  --color-light-3: #e8e8e8;
  --color-dark-1: #333333;
  --color-dark-2: #202020;
  --color-dark-3: #000000;
  --color-red-1: #e5110b;
  --color-red-2: #f53d38;
  --color-red-3: #f87571;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-red-3);
  border-radius: 10px;
}

.fade_in {
  animation: fadein 200ms ease forwards;
}

.fade_out {
  animation: fadeout 500ms ease forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    display: block;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@media (min-width: 480px) {
  .xs\:text-base { font-size: 1rem; }
  .xs\:p-5 { padding: 5rem; }
  .xs\:block { display: block; }
  .xs\:flex-row { flex-direction: row; }
}