@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

* {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  scrollbar-width: auto;
  scrollbar-color: var(--color-red-3) transparent;
}

body {
  background-color: #374151;
}

.transition-more{
  transition: all 0.2s ease-in-out;
}

@theme {
  --color-light-1: #ffffff;
  --color-light-2: #f6f6f6;
  --color-light-3: #e8e8e8;
  --color-dark-1: #333333;
  --color-dark-2: #202020;
  --color-dark-3: #000000;
  --color-red-1: #ED2024;
  --color-red-2: #f53d38;
  --color-red-3: #f87571;
  --color-gray-1: #111827;
  --color-gray-2: #1F2937;
  --color-gray-3: #374151;
  --color-gray-4: #4B5563;
  --color-gray-5: #D1D5DB;
  --color-blue-1: #6DA4B3;
  --color-blue-2: #89CCDA;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-red-3);
  border-radius: 10px;
}

.slick-list{
  padding: 20px 0px!important;
}

.slick-track {
  display: flex!important;
  gap: 20px;
}

.slick-dots li button::before{
  color: var(--color-gray-5)!important;
}

.fade_in {
  animation: fadein 200ms ease forwards;
}

.fade_out {
  animation: fadeout 500ms ease forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    display: block;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@media (min-width: 480px) {
  .xs\:text-base { font-size: 1rem; }
  .xs\:p-5 { padding: 5rem; }
  .xs\:block { display: block; }
  .xs\:flex-row { flex-direction: row; }
}